body {
  background-color: black;
}

#puzzle {
  width: 167.5px;
  height: 267.5px;
  margin: 0 auto;
  margin-top: 50px;
  position: relative;
}

#puzzleCanvas, #lineCanvas {
  position: absolute;
}
