body {
  background-color: black;
  color: rgba(255,255,255,0.8);
  font-family: sans-serif;
}

h1, p {
  text-align: center;
}

h1 {
  font-size: 48px;
  line-height: 1.2;
}

a {
  text-decoration: none;
  color: #3A45CC;
}

a:visited {
  color: #3A45CC;
}

#puzzle {
  width: 167.5px;
  height: 267.5px;
  margin: 0 auto;
  margin-top: 50px;
  position: relative;
}

#puzzleCanvas, #lineCanvas {
  position: absolute;
}

#links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 200px;
  margin: 0 auto;
}

#links a {
  margin-top: 5px;
}
